body{
  background: #0000ff;
}
a{
  color:red;
}
h1{
 background: #009900;
  text-align:center;
   border:2px solid;
  border-radius:25px;
  padding-top:5px;
  padding-bottom:5px;
    color: blue;
}
a{
  background: yellow;
  border:2px solid;
  border-radius:25px;
}